<% provide(:title, 'Blog') %>

<h1>Blog</h1>

<h2>This is my temple of emotions!</h2>

<p>
  This is my blog where I write about my feelings and cry on the internet to make it better. My cs 369 homework is too hard who even need computers anyway?? I should have majored in botany. Then my tears could water the plants that create air and then my efforts would actually contribute something to the world.
</p>
<div>
  <iframe width="560" height="315" src="//www.youtube.com/embed/lsRd-9dR1H8" frameborder="0" allowfullscreen></iframe>
</div>