<footer class="footer">
  <small>
    "Michael Hartl ruelz"   
  </small>
  <nav>
    <ul>
      <li><%= link_to "FAQ", faq_path %></li>
      <li><a href="http://www.youtube.com/watch?v=lsRd-9dR1H8">News</a></li>
    </ul>
  </nav>
</footer>
